body{
    overflow: hidden;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 800px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

#textInput{
    flex-direction: column;
    background: transparent;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    border: 2px solid #F0F3FF;
    width: 200px;
    height: 40px;
    outline: none;
    color: #F0F3FF;
    margin-bottom: 10px;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#textToType{
    height: 30px;
    color: #F0F3FF;
    font-size: 20px;
    white-space: nowrap;
    width: 800px;
}