<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | ChallengeJS</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type ="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
</head>
<body>
    <header>
        <button onclick="window.location.href='/'" class="leftButton">Home</button>
        <button onclick="window.location.href='/chillgames'" class="leftButton">Chill games</button>
        <button onclick="window.location.href='/tryhardgames'" class="rightButton">Tryhard games</button>
        <button onclick="window.location.href='/about'" class="rightButton">About</button>
    </header>
    <div id="about">
        <h2>ABOUT</h2>
        <p>This website is a simple web application that allows users to play
            all kind of games, from the very well-known Skake game to more basic games
            like Tic Tac Toe. The website is built using the Express.js framework.</p>
        <h2>LANGUAGE</h2>
        <p>The website is fully in English, and no other language is supported.</p>
        <h2>TEAM</h2>
        <p>- Gabriel de Bure<br>
            - Nicolas Nguyen Van Thanh<br>
            - Ismail Benlaidi</p>
        <h2>PROJECT OBJECTIVES</h2>
        <p>- Develop coding skills, mainly in JavaScript, Node.js and Express which are new to us.<br>
            - Work better as a team, using project management and Git.</p>
        <h2>RESOURCES</h2>
        <p>- Website Icon: <a href="https://flaticon.com/" target="_blank">Flaticon</a></p>
        <p>- Website Repo : <a href="https://ytrack.learn.ynov.com/git/dgabriel/ChallengeJS.git" target="_blank">ChallengeJS</a></p>
    </div>
</body>
</html>