<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Sort | ChallengeJS</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href= "/css/bubbleSort.css">
</head>
<body>
     <header>
            <button onclick="window.location.href='/'" class="leftButton">Home</button>
            <button onclick="window.location.href='/chillgames'" class="leftButton">Chill games</button>
            <button onclick="window.location.href='/tryhardgames'" class="rightButton">Tryhard games</button>
            <button onclick="window.location.href='/about'" class="rightButton">About</button>
        </header>
    <h1>Bubble sort</h1>
    <div id="triabulle">
        <div>
            <div class="numInputContainer">
                <span class="next" onclick="nextNum()"></span>
                <span class="prev" onclick="prevNum()"></span>
                <div id="box"></div>
            </div>
            <button id="triButton" class="button" onclick="sort()">Sort</button>
        </div>
        <div>
            <span class="tableau"></span>
            <span id="unsortedArray" class="tableau"></span>
        </div>
        <div>
            <span class="tableau"></span>
            <span id="sortedArray" class="tableau"></span>
        </div>
    </div>
</body>
</html>
