<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chill Games | ChallengeJS</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type ="text/css" href="/css/style.css">
</head>
<body>
<h1>Chill Games</h1>
<h2>Choose a game to play</h2>
<div class="gamesContainer">
    <div class="game">
        <h3>Snake</h3>
        <img src="/img/snake/snake_up.png" alt="Snake" class="gameImg">
        <button onclick="window.location.href='/chillgames/snake'" class="playBtn">Play</button>
    </div>
</body>
</html>