<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chill Games | ChallengeJS</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type ="text/css" href="/css/style.css">
</head>
<body>
<header>
    <button onclick="window.location.href='/'" class="leftButton">Home</button>
    <button onclick="window.location.href='/chillgames'" class="leftButton">Chill games</button>
    <button onclick="window.location.href='/tryhardgames'" class="rightButton">Tryhard games</button>
    <button onclick="window.location.href='/about'" class="rightButton">About</button>
</header>
<h1>Chill Games</h1>
<h2>Choose a game to play</h2>
<div class="gamesContainer">
    <div class="game">
        <h3>Snake</h3>
        <img src="/img/snake/snake_up.png" alt="Snake" class="gameImg">
        <button onclick="window.location.href='/chillgames/snake'" class="playBtn">Play</button>
    </div>
    <div class="game">
        <h3>Tap The Yanis</h3>
        <img src="/img/taptheyanis.png" alt="TapTheYanis" class="gameImg">
        <button onclick="window.location.href='/chillgames/taptheyanis'" class="playBtn">Play</button>
    </div>
    <div class="game">
        <h3>Tic Tac Toe</h3>
        <img src="/img/tictactoe.png" alt="TicTacToe" class="gameImg">
        <button onclick="window.location.href='/chillgames/tictactoe'" class="playBtn">Play</button>
    </div>
    <div class="game">
        <h3>Memory Game</h3>
        <img src="/img/memory.png" alt="Memory" class="gameImg">
        <button onclick="window.location.href='/chillgames/memorygame'" class="playBtn">Play</button>
    </div>
    <div class="game">
        <h3>Bubble Sort</h3>
        <img src="/img/bubble.png" alt="TriABulle" class="gameImg">
        <button onclick="window.location.href='/tryhardgames/bubblesort'" class="playBtn">Play</button>

    </div>
</div>
</body>
</html>