<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/memoryGame.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Memory Test | ChallengeJS</title>
</head>
<body>
    <header>
        <button onclick="window.location.href='/'" class="leftButton">Home</button>
        <button onclick="window.location.href='/chillgames'" class="leftButton">Chill games</button>
        <button onclick="window.location.href='/tryhardgames'" class="rightButton">Tryhard games</button>
        <button onclick="window.location.href='/about'" class="rightButton">About</button>
    </header>
    <h1>Memory Test</h1>
    <div id="header">
        <h2>Errors: <span id="errors">0</span></h2>
    </div>
    <div id="container">
        <div id="game"></div>
        <div id="buttons">
            <button id="resetButton">Reset</button>
        </div>
    </div>
    <script src="/js/games/memoryGame.js" defer></script>
</body>
</html>