<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReactionTime | ChallengeJS</title>
    <link rel="stylesheet" type ="text/css" href="/css/style.css">
    <link rel="stylesheet" type ="text/css" href="/css/reactionTime.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="/js/games/reactionTime.js" defer></script>
</head>
<body>
    <header>
        <button onclick="window.location.href='/'" class="leftButton">Home</button>
        <button onclick="window.location.href='/chillgames'" class="leftButton">Chill games</button>
        <button onclick="window.location.href='/tryhardgames'" class="rightButton">Tryhard games</button>
        <button onclick="window.location.href='/about'" class="rightButton">About</button>
    </header>
    <h1>Reaction Time</h1>
    <div id="gameArea">
    <button id="startButton">Commencer</button>
        <div id="reactionBox">Cliquez maintenant!</div>
        <p id="result"></p>
    </div>

</body>
</html>