<!Doctype html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="/css/tapTheYanis.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Jeu de tap Yanis</title>
    </head>
    <body>
         <header>
                <button onclick="window.location.href='/'" class="leftButton">Home</button>
                <button onclick="window.location.href='/chillgames'" class="leftButton">Chill games</button>
                <button onclick="window.location.href='/tryhardgames'" class="rightButton">Tryhard games</button>
                <button onclick="window.location.href='/about'" class="rightButton">About</button>
            </header>
        <div class="game">
            <button class="start_btn">start / restart</button>
            <div class="game_infos">
                <span class="score">score: 0</span>
                <span class="time">Temps: 0</span>
                </div>
            <div class="container">
                </div>
            </div>
        <script src="/js/games/tapTheYanis.js"></script>
    </body>
</html>
