<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/ticTacToe.css" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Tic Tac Toe | ChallengeJS</title>
</head>

<body>
     <header>
            <button onclick="window.location.href='/'" class="leftButton">Home</button>
            <button onclick="window.location.href='/chillgames'" class="leftButton">Chill games</button>
            <button onclick="window.location.href='/tryhardgames'" class="rightButton">Tryhard games</button>
            <button onclick="window.location.href='/about'" class="rightButton">About</button>
        </header>
    <h1>Tic Tac Toe</h1>
     <div id="button">
         <button id="modePvP">PvP</button>
        <button id="modePvE">PvE</button>
     </div>
     <div id="grid">
        <div id="c1" class="case"></div>
        <div id="c2" class="case"></div>
        <div id="c3" class="case"></div>
        <div id="c4" class="case"></div>
        <div id="c5" class="case"></div>
        <div id="c6" class="case"></div>
        <div id="c7" class="case"></div>
        <div id="c8" class="case"></div>
        <div id="c9" class="case"></div>
    </div>
    <div id="score">
        <p>Player <span id="joueur">1</span>'s turn</p>
        <p>Player 1 : <span id="score1">0</span></p>
        <p>Player 2 : <span id="score2">0</span></p>
        <p>Draws : <span id="scoreNul">0</span></p>
    </div>
    <script src="/js/games/ticTacToe.js"></script>
</body>

</html>
