<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tryhard Games | ChallengeJS</title>
    <link rel="stylesheet" type ="text/css" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
    <header>
        <button onclick="window.location.href='/'" class="leftButton">Home</button>
        <button onclick="window.location.href='/chillgames'" class="leftButton">Chill games</button>
        <button onclick="window.location.href='/tryhardgames'" class="rightButton">Tryhard games</button>
        <button onclick="window.location.href='/about'" class="rightButton">About</button>
    </header>
    <h1>Tryhard Games</h1>
    <h2>Choose a game to play</h2>
    <div class="gamesContainer">
        <div class="game">
            <h3>Typing Test</h3>
            <img src="/img/typingtest.png" alt="TypingTest" class="gameImg">
            <button onclick="window.location.href='/tryhardgames/typingtest'" class="playBtn">Play</button>
        </div>
        <div class="game">
            <h3>Reaction Time</h3>
            <img src="/img/reactiontime.png" alt="ReactionTime" class="gameImg">
            <button onclick="window.location.href='/tryhardgames/reactiontime'" class="playBtn">Play</button>
        </div>
        <div class="game">
            <h3>BlackJack</h3>
            <img src="/img/carte.png" alt="BlackJack" class="gameImg">
            <button onclick="window.location.href='/tryhardgames/blackjack'" class="playBtn">Play</button>
        </div>
        <div class="game">
            <h3>Memory Test</h3>
            <img src="/img/memoryTest.png" alt="MemoryTest" class="gameImg">
            <button onclick="window.location.href='/tryhardgames/memorytest'" class="playBtn">Play</button>
        </div>
    </div>
</body>
</html>