<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/typingTest.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script src="/js/games/typingTest.js" defer></script>
    <title>Typing Test | ChallengeJS</title>
</head>
<body>
    <h1>Typing Test</h1>
    <div id="header">
        <h2>WPM: <span id="wpm">0</span></h2>
    </div>
    <div id="container">
        <p id="textToType"></p>
        <input type="text" id="textInput" autocomplete="off" spellcheck="false">
    </div>
    <h2 id="timer">60</h2>
</body>
</html>