<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChallengeJS</title>
    <link rel="stylesheet" type ="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>ChallengeJS</h1>
    <h2>Choose what type of games you want to play</h2>
    <form method="post" class="formElement">
        <input type="submit" name="chill" value="Chill" formaction="/chill">
        <input type="submit" name="tryhard" value="Tryhard" formaction="/tryhard">
    </form>
</body>
</html>