<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memory Test | ChallengeJS</title>
</head>
<body>
    <h1>Memory Test</h1>
    <div id="header">
        <h2>Score: <span id="score">0</span></h2>
    </div>
    <div id="container">
        <div id="gameContainer">
            <div id="game"></div>
        </div>
        <div id="buttons">
            <button id="startButton">Start</button>
            <button id="resetButton">Reset</button>
        </div>
    </div>
    <script src="/static/js/games/visualMemory.js" defer></script>
</body>
</html>